- content_for :main do
  .row
    .col-lg-12
      %h1.page-header
        Clubs
    .row
      - @clubs.each do |club|
        = render :partial => "list_item", :locals => { :club => club }
      - if @clubs.empty?
        .alert.alert-info
          %b Sorry!
          No clubs found

    %hr/
    .row.text-center
      .col-lg-12

        = paginate @clubs
