- content_for :main do
  .row
    .col-lg-12
      %h1.page-header
        Current Events
        %small
          happening around Berkeley
  .row
    - @events.each do |event|
      = render :partial => "list_item", :locals => { :event => event }
    - if @events.empty?
      .alert.alert-info
        %b Sorry!
        No Events found

  %hr/
  .row.text-center
    .col-lg-12
    
      = paginate @events
  


