%h1 Events#search
%p Find me in app/views/events/search.html.haml
- if @events and @events.count > 0
  %table.table-striped.table#sort
    %thead
      %tr
        - %w(Name Start End).each do |title|
          %th #{title}
    %tbody
      - @events.each do |event|
        %tr
          %td= link_to event.name , googlecal_events_path(:name => event.name,:start => event.start_time, :ends =>event.end_time)
          
          %td #{event.start_time}
          %td #{event.end_time}
           

